

img		{border-color: transparent;}

table	{width: 65%;
		margin-left: auto; 
		margin-right: auto;
		border-color: #545859;
		border-style: ridge;
		border-width: 10px;}
		
	
	.menu	{text-align: center;
			width: 60%;}

	.menuicon {width: 23%;}

	.menupipe {width: 1%;}

th		{color: white; 
		background-color: #757775;}

tr.stripe	{background-color: #d8d8ce;}
	 
td.bolder	{font-weight: bold;}

caption	{caption-side: bottom;
		font-style: italic;}